migrations:
	groups:
		structures:
			directory: /structures

		basic-data:
			directory: /basic-data
			dependencies:
				- structures

		dummy-data:
			directory: /dummy-data
			dependencies:
				- structures
				- basic-data

	driver: mysql
	dbal: dibi

services:
	- DibiConnection(%dibiConfig%)
